body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.error, .success {
  margin: 1.5em;
  padding: 0.5em;
  font-weight: bold;
}

.error {
  color: red;
  border: 2px solid red;
}

.success {
  color: green;
  border: 1px solid green;
}