body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 10px;
}

.error, .success {
  margin: 1.5em;
  padding: 0.5em;
  font-weight: bold;
}

.error {
  color: red;
  border: 2px solid red;
}

.success {
  color: green;
  border: 1px solid green;
}

.blogItem {
  border: 1px solid #ccc;
  margin: 2px;
  padding: 6px;
  border-radius: 1em;
}

.blogTitle {
  font-weight: bold;
  font-variant: small-caps;
  display: inline-block;
  margin: 3px;
}

.blogAuthor {
  font-size: 0.9em;
  font-weight: lighter;
  font-style: italic;
  display: inline-block;
  margin: 3px;
}